---
import Devices from "../../public/devices.svg";
---

<section class="flex items-center w-full justify-center flex-col">
  <img src={Devices} alt="" class="max-w-[80vw] w-[700px]" />
  <div
    class="bg-purple-600 w-full p-5 flex items-center justify-center flex-col pt-5 pb-5 text-white"
  >
    <h1 class="pt-5 font-bold pb-5 text-2xl">
      Hi, I'm Jeswin. Nice to meet you.
    </h1>
    <p class="text-md font-light max-w-[700px] text-center">
      Since beginning my journey as a freelance designer over 11 years ago, I've
      done remote work for agencies, consulted for startups, and collaborated
      with talented people to create digital products for both business and
      consumer use. I'm quietly confident, naturally curious, and perpetually
      working on improving my chops one design problem at a time.
    </p>
  </div>
</section>
