---
import Linkedin from "../../public/linkedin.svg";
import Github from "../../public/github.svg";
import Gmail from "../../public/gmail.svg";
import Instagram from "../../public/instagram.svg";
---

<section
  class="flex items-center justify-center flex-col bg-purple-600 p-[50px] pt-[200px] text-center"
>
  <h2 class="text-white text-3xl font-thin text-center font-sans">
    Living, learning, & leveling up <br /> day by day.
  </h2>
  <div class="flex m-5 pt-5 pb-5 justify-center items-center">
    <div
      class="border-gray-300 m-5 p-2 rounded-full flex items-center justify-center border-2"
    >
      <img src={Linkedin} alt="" width="20px" class="min-w-[20px]" />
    </div>
    <div
      class="border-gray-300 m-5 p-2 rounded-full flex items-center justify-center border-2"
    >
      <img src={Github} alt="" width="20px" class="min-w-[20px]" />
    </div><div
      class="border-gray-300 m-5 p-2 rounded-full flex items-center justify-center border-2"
    >
      <img src={Gmail} alt="" width="20px" class="min-w-[20px]" />
    </div>
    <div
      class="border-gray-300 m-5 p-2 rounded-full flex items-center justify-center border-2"
    >
      <img src={Instagram} alt="" width="20px" class="min-w-[20px]" />
    </div>
  </div>
  <p class="text-white font-thin font-mono">
    Handcrafted by me &#169; twentytwentythree
  </p>
</section>
