<section class="flex items-center justify-center mb-[-50px]">
  <div
    class="bg-gray-900 text-white text-center w-[90vw] flex justify-around items-center flex-wrap min-h-[100px] p-[50px] rounded-2xl"
  >
    <h1 class="text-3xl font-mono font-bold p-5">Start a project</h1>
    <p class="text-sm font-light max-w-xs text-center p-5">
      Interested in working together? We should queue up a time to chat. I’ll
      buy the coffee.
    </p>
    <button
      class="text-xl border-2 border-lightBlue px-7 py-3 rounded-full hover:text-black hover:bg-lightBlue m-5"
    >
      <a href="/#contact">Let's do this</a>
    </button>
  </div>
</section>
